# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

*.DS_Store
Roy-the-Traffic-Cop

.idea/
CMakeCache.txt
cmake-build-debug/
CMakeFiles/
cmake_install.cmake

/visual_studio/tmp/
/visual_studio/Debug/
/visual_studio/.vs/
/.vs
